$black: #222222;
$white: #ffffff;

$text-color: #5b676e;

/* mtek colors */

    $mtek-primary: #37d19d;
    $mtek-secondary: #2170f6;
    $light-blue: #3a8fc0;
    $navy: #043f5d;
    
    
/*Xomni colours*/
$xomni-primary: #9dce0a;
$xomni-text: #667e8c;


/*Chainformation colours*/
$chainformation-primary: #ffab0b;
$chainformation-text: #667e8c;




$brand-primary: $mtek-primary;