body {
    background: $gray-lighter;
}

.outer {
    max-width: 1400px;
    margin: 0 auto;
    display: block;
}

header {
    position: relative;
}
main {
    background: $white;
    .child-page & {
        padding-top: 50px;
    }
}
.navbar.navbar-default {
    border-radius: 0;
    background: none;
    margin: 0;
    width: 100%;
    border:0;
    text-align: center;
    @include breakpoint(sm) {
        position: absolute;
        top:0;
        left:0;
        .child-page & {
            position: static;
        }
    }
    .nav.navbar-nav {
        text-transform: uppercase;
        text-align: center;
        font-size: 0.7em;
        display: block;
        width: 100%;
        margin: 0;
        @include breakpoint(sm) {
            font-size: 0.75em;
            letter-spacing: 0.2em;
            /*.child-page & {
                float: right;
                width: auto;
            }*/
        }
        
        > li {
            float: none;
            display: inline-block;
            >a {
                color: $text-color;
                padding: 10px;
                &:hover, &:focus {
                    color: $brand-primary;
                }
            }
            &.active {
                @include breakpoint(xs) {
                    display: none;
                }
                >a, >a:hover, >a:focus {
                    background: none;
                    color: lighten($text-color, 10%);
                }
            }
        }
    }
}
.brand {
    display: inline-block;
    margin: 0 auto;
    transition: all .2s ease;
    .mocal & {
        background-image: url(../images/mocal-black.svg);
        background-size: 200px 55px;
        background-position: center center;
        background-repeat: no-repeat;
        width: 200px;
        height: 55px;
        display: inline-block;
        .no-svg & {
            background-image: url(../images/mocal-white.png);
        }
        @include breakpoint(sm) {
            width: 210px;
            height: 56px;
            background-size: 210px 56px;
        }
        @include breakpoint(md) {
            width: 300px;
            height: 80px;
            background-size: 300px 80px;
        }
        /*@include breakpoint(lg) {
            width: 210px;
            height: 56px;
            background-size: 210px 56px;
        }*/
    }
    
}

.brand-header {
    display: inline-block;
    margin: 15px auto;
    background-image: url(../images/mocal-black.png);
        background-size: 200px 55px;
        background-position: center center;
        background-repeat: no-repeat;
        width: 200px;
        height: 55px;
   
}

.introduction-container {
    text-align: center;
    display: block;
    width: 100%;
    background: $white;
    padding: 40px 0;
    @include breakpoint(sm) {
        display: table;
    height: 75vh;
    min-height: 600px;
    }
    .child-page & {
        background-color: $gray-lighter;
        background-image: url(../images/point.svg);
        background-position: bottom center;
        background-size: 24px 16px;
        background-repeat: no-repeat;
        display: block;
        padding: 40px 0;
        @include breakpoint(sm) {
        display: table;
        height: 50vh;
        min-height: 350px;
        }
    }
    
    .introduction {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 0 10%;
        @include breakpoint(md) {
            padding: 0 25%;
        }
    }
}

.features-container {
    background: $white;
    &:before, &:after {
        content: " ";
        display: table;
    }
    .feature {
        width: 100%;
        display: block;
        transition: all .2s ease;
        &:hover, &:focus {
            text-decoration: none;
            
            .caption {
                color: $brand-primary;
            }
            
        }
        
        .no-touch & {
            &:hover {
            transform: translateY(-6px);
                .thumb {
            opacity: 0;  
                }
        }
        }
        @include breakpoint(xs) {
            max-width: 420px;
            margin: 0 auto 20px;
            border-bottom: 1px solid $gray-lighter;
        }

        @include breakpoint(sm) {
            width: 33.33%;
            float: left;
        }

       
        .logo {
            max-width: 70%;
            margin: 0 auto 10px;
            display: block;
        }
        .thumb-container {
            position: relative;
            background-color: darken($mtek-secondary, 20%);
            background-color: $brand-primary;
            background-image: url(../images/arrow.svg);
            background-size: 50px 50px;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all .2s ease;
            @include breakpoint(md) {
                background-size: 80px 80px;
            }
        }
        .thumb {
            width: 100%;
            height: auto;
            transition: all .2s ease;
        }
       
        .caption {
            padding: 20px 30px;
            margin-bottom: 20px;
            background: $white;
            position: relative;
            color: $text-color;
            transition: color .2s ease;
            @include breakpoint(lg) {
                padding: 20px 40px;
            }
            
        }
        .point {
            position: absolute;
            width: 28px;
            height: 16px;
            top: -15px;
            left: 50%;
            margin-left: -14px;
            background: url(../images/point.svg) center center no-repeat;
            background-size: 24px 16px;
        }
        
    }
}

.cta {
    background: $white;
    padding: 50px;
    &:before, &:after {
        content: " ";
        display: table;
    }
}

.footer {
    padding: 50px 20px;
    font-size: 0.9em;
    background: $text-color;
        color: $white;
    
    .footer-left {
        text-align: center;
        margin-bottom: 30px;
        @include breakpoint(sm) {
            text-align: left;
        }
        a {
            padding: 10px;
            display: inline-block;
            &:hover, &:focus {
                text-decoration: none;
                color: lighten($brand-primary, 15%);
            }
        }
    }
    .footer-right {
        text-align: center;
        @include breakpoint(sm) {
            text-align: right;
        }
    }
    &:before, &:after {
        content: " ";
        display: table;
    }
    
}

.mocal-footer {
    background-image: url(../images/mocal-white.svg);
    background-size: 150px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 40px;
    display: inline-block;
    .no-svg & {
        background-image: url(../images/mocal-white.png);
    }
}
