@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    &.xomni {
        color: $xomni-text;
    }
}




h1 {
    font-size: 2em;
    font-weight: 300;
    margin: 1em 0;
    @include breakpoint(sm) {
        font-size: 2.5em;
    }
    
    @include breakpoint(md) {
        font-size: 2.8em;
    }
}

h2 {
    margin: 30px 0 15px;
}

h3 {
    
    font-weight: 300;
    margin-top: 0;
    text-align: center;
    
   
}
p {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;
    margin: 0 0 20px;
    @include breakpoint(md) {
        font-size: 17px;
        line-height: 1.8;
    }
}

a {
    transition: all .2s ease;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    border-radius: 0;
    padding: 20px;
    white-space: normal;
    margin:10px;
    transition: all .2s ease;
    &:hover, &:focus {
    
       
    }
}

.btn-default {
    background: none;
    border: 2px solid $text-color;
    color: $text-color;
    &:hover, &:focus {
        border-color: $brand-primary;
        color: $brand-primary;
        background: none;
    }
}
.btn-primary {
    background: $brand-primary;
    border: 2px solid $brand-primary;
    &:hover, &:focus {
        background: darken($brand-primary, 10%);
        border-color: darken($brand-primary, 10%);
    }
    
}